body{
  background-color: pink;
  font-family: 'Playfair Display', serif;
}

h1{
  background-color: red;
  color: white;
  text-align: center;
  padding: 0;
  width: 100%;

}

#info{
  background-color: white;
  color: brown;
  border: 1px solid red;
  padding-left: 20px;
  display: block;
  width: 20%;
  position: absolute;
}

#varde{
  display: block;
  background-color: white;
  border: 1px solid red;
  color: brown;
  padding-left: 20px;
  width: 10%;
  position: absolute;
  left: 85%;
}
